.moon-ins {
  color: white;
  margin: 50% auto;
  width: max-content;
  display: block;
  height: 100vh;
}

.moon-ins:hover {
  cursor: pointer;
  color: rgb(171, 164, 151);
}

.block {
  width: 50px;
  height: 50px;
  background-color: red;
}

.active {
  background-color: blue;
}

.block:hover {
  background-color: green;
  cursor: pointer;
}
